body {
    background: #EDF2F7;
}
.btn {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.btn:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.table td {
    padding: 1em;
}
.text-title {
    color: #2C5282;
}
.text-lg {
    font-size: 1.5em;
}
.text-sm {
    font-size: 1.1em;
}
.text-gray {
    color: #718096;
}
.text-success-2 {
    color: #22543D;
}
.err::first-letter {
    text-transform: uppercase;
}
#myTable tbody tr td{
    padding: 12px 8px;
}
#myTable tbody tr:hover {
    background: #ddd;
    cursor: pointer;
}
#myTable tbody tr:hover td:last-child {
    color: #dc3545;
    text-decoration: underline;
}
#myTable tbody tr td:last-child {
    color: #fff;
}
#search-input {
    position: relative;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    border: 0;
    color: #4A5568;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 5px 10px 5px 32px;
    animation: inexpandSearch .15s ease-in;
}
#search-input:focus {
    width: 250px;
    outline: none;
    border: 1px solid #A0AEC0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    animation: expandSearch .15s ease-out;
}
#search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    fill: #A0AEC0;
}
.avatar,
.avatar-lg {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.avatar {
    width: 50px;
    height: 50px;
}
.avatar-lg {
    width: 150px;
    height: 150px;
}
.avatar img {
    display: flex;
    align-items: center;
}
.show {
    display: block !important;
}
#overlay-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

/* form */
.popup-user,
.success,
.form-add {
    display: none;
    position: fixed;
    animation: show .15s ease-in-out;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    z-index: 3;
    max-height: 450px;
    height: 80%;
}
.form-add::-webkit-scrollbar,
.popup-user::-webkit-scrollbar {
    display: none;
}
.success {
    width: auto;
    height: auto;
}
.form-add {
    overflow: auto;
    scrollbar-width: none;
}
.popup-user {
    padding: 0;
    overflow: auto;
    width: 320px;
    background: #CBD5E0;
    scrollbar-width: none;
}
.popup-user .main-info {
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.popup-user .info-group {
    padding: 1em;
}
.popup-user .label {
    color: #4A5568;
}
.popup-user .value {
    color: #1A202C;
}
.fab {
    position: absolute;
    top: 49%;
    right: 10px;
    transform: translateY(-50%);
    background: #c70d3a;
    box-shadow: 0 8px 14px -3px rgba(78, 5, 23, 0.5), 0 4px 6px -2px rgba(78, 5, 23, 0.1);
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

/* Animation */
@keyframes show {
    from{top:100%}
    to{top:50%}
}
@keyframes expandSearch {
    from{width:200px}
    to{width:250px}
}
@keyframes inexpandSearch {
    from{width:250px}
    to{width:200px}
}
